@use "sass:math";
//<МИКСИНЫ>===============================================================================================
@import "mixins";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
//&display=swap&subset=cyrillic-ext
@import url("https://fonts.googleapis.com/css?family=Quicksand:regular,500,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:regular,500&display=swap");
@import "fonts";
//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================
@import "icons";
//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontFamily: "Quicksand";
$fontSize: 15;
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>==========================================================================================================
$minWidth: 320px;
$maxWidth: 1440;
$maxWidthContainer: 1200;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

$mainColor: #8d96bd;
//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null";
body {
	color: $mainColor;
	&._lock {
		overflow: hidden;
	}
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
._container {
	max-width: $maxWidthContainer + px;
	margin: 0 auto;
	padding: 0px 15px;
	box-sizing: content-box;
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "forms";
@import "ui";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "datepicker";
//@import "lightgallery";
//@import "pagging";
//@import "popup";
@import "header";
@import "footer";
//@import "home";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.page {
	flex: 1 1 auto;
	// .page__hero
	&__hero {
	}
}
//===================================================================================================================================
.hero {
	position: relative;
	display: flex;
	min-height: 100vh;
	background-color: #f4f7ff;
	background-image: url("../img/hero/bg-0.svg"), url("../img/hero/bg-1.svg"), url("../img/hero/bg-2.svg"),
		url("../img/hero/bg-3.svg"), url("../img/hero/bg-4.svg"), url("../img/hero/bg-5.svg");
	background-repeat: no-repeat;
	background-position: 0% 45%, 15% 20%, 15% 80%, 85% 15%, 75% 90%, 100% 80%;
	&__container {
		display: flex;
		justify-content: center;
		align-items: center;
		flex: 1 1 auto;
	}
	&__body {
		text-align: center;
		max-width: 598px;
		padding: 120px 0;
		& > *:last-child {
			margin-bottom: 0;
		}
	}
	// .hero__label
	&__label {
		font-weight: 500;
		font-family: "Roboto";
		color: #3d4f9f;
		text-transform: uppercase;
		font-size: 10px;
		line-height: math.div(12, 10) * 100%;
		margin: 0 0 math.div(16, 10) * 1em 0;
	}
	// .hero__title
	&__title {
		color: #3d4f9f;
		@include adaptiv-value("font-size", 48, 36, 1);
		line-height: math.div(60, 48) * 100%;
		margin: 0 0 math.div(28, 48) * 1em 0;
		span {
			font-weight: 700;
		}
	}
	// .hero__text
	&__text {
		color: #8d96bd;
		font-size: 15px;
		line-height: math.div(28, 15) * 100%;
		margin: 0 0 math.div(20, 15) * 1em 0;
		letter-spacing: math.div(1.7, 15) * 1em;
		font-family: "Roboto";
	}
	// .hero__button
	&__button {
		flex: 0 0 52px;
		width: 52px;
		height: 52px;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		background-color: #fff;
		transition: background-color 0.3s;
		box-shadow: 0px 10px 50px 0px #c9d1e799;
		&::before {
			color: #5e81ff;
			transition: color 0.3s;
			font-size: 11px;
		}
		@media (any-hover: hover) {
			&:hover {
				background-color: #5e81ff;
				&::before {
					color: #fff;
				}
			}
		}
	}
}
//</ОСНОВНОЙ БЛОК>====================================================================================================
