@use "sass:math";
//<МИКСИНЫ>===============================================================================================
@import "mixins";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
//&display=swap&subset=cyrillic-ext
@import url("https://fonts.googleapis.com/css?family=Quicksand:regular,500,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:regular,500&display=swap");
@import "fonts";
//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================
@import "icons";
//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontFamily: "Quicksand";
$fontSize: 15;
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>==========================================================================================================
$minWidth: 320px;
$maxWidth: 1440;
$maxWidthContainer: 1200;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

$mainColor: #8d96bd;
//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null";
body {
	color: $mainColor;
	&._lock {
		overflow: hidden;
	}
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
._container {
	max-width: $maxWidthContainer + px;
	margin: 0 auto;
	padding: 0px 15px;
	box-sizing: content-box;
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "forms";
@import "ui";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "datepicker";
//@import "lightgallery";
//@import "pagging";
//@import "popup";
@import "header";
@import "footer";
//@import "home";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.page {
	flex: 1 1 auto;
	& > * {
		border-bottom: 1px solid #d8e3fe;
	}
	// .page__hero
	&__hero {
	}
	// .page__customers
	&__customers {
	}
	// .page__manage
	&__manage {
	}
	// .page__features
	&__features {
	}
	// .page__stats
	&__stats {
	}
	// .page__blog
	&__blog {
	}
	// .page__testimonials
	&__testimonials {
	}
	// .page__questions
	&__questions {
	}
	// .page__get-started
	&__get-started {
	}
	// .page__newsletter
	&__newsletter {
	}
}
//===================================================================================================================================
.hero {
	position: relative;
	display: flex;
	min-height: 100vh;
	border-bottom: 1px solid #d8e3fe;
	background-color: #f4f7ff;
	background-image: url("../img/hero/bg-0.svg"), url("../img/hero/bg-1.svg"), url("../img/hero/bg-2.svg"),
		url("../img/hero/bg-3.svg"), url("../img/hero/bg-4.svg"), url("../img/hero/bg-5.svg");
	background-repeat: no-repeat;
	background-position: 0% 45%, 15% 20%, 15% 80%, 85% 15%, 75% 90%, 100% 80%;
	&__container {
		display: flex;
		justify-content: center;
		align-items: center;
		flex: 1 1 auto;
	}
	&__body {
		text-align: center;
		max-width: 598px;
		padding: 120px 0;
		& > *:last-child {
			margin-bottom: 0;
		}
	}
	// .hero__label
	&__label {
		margin: 0 0 math.div(16, 10) * 1em 0;
	}
	// .hero__title
	&__title {
		color: #3d4f9f;
		@include adaptiv-value("font-size", 48, 36, 1);
		line-height: math.div(60, 48) * 100%;
		margin: 0 0 math.div(28, 48) * 1em 0;
		span {
			font-weight: 700;
		}
	}
	// .hero__text
	&__text {
		color: #8d96bd;
		font-size: 15px;
		line-height: math.div(28, 15) * 100%;
		margin: 0 0 math.div(20, 15) * 1em 0;
		letter-spacing: math.div(1.7, 15) * 1em;
		font-family: "Roboto";
	}
	// .hero__button
	&__button {
		flex: 0 0 52px;
		width: 52px;
		height: 52px;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		background-color: #fff;
		transition: background-color 0.3s;
		box-shadow: 0px 10px 50px 0px #c9d1e799;
		&::before {
			color: #5e81ff;
			transition: color 0.3s;
			font-size: 11px;
		}
		@media (any-hover: hover) {
			&:hover {
				background-color: #5e81ff;
				&::before {
					color: #fff;
				}
			}
		}
	}
}
//====================================================================================================
.customers {
	@include adaptiv-value("padding-top", 60, 30, 1);
	@include adaptiv-value("padding-bottom", 60, 30, 1);
	// .customers__container
	&__container {
		max-width: 900px;
		display: grid;
		justify-items: center;
		align-items: center;
		@include adaptiv-value("gap", 76, 36, 1);
		grid-template-columns: repeat(auto-fit, minmax(117px, 1fr));
	}
	// .customers__item
	&__item {
		color: #d6dae5;
		transition: color 0.3s;
		path {
			fill: currentColor;
		}
		@media (any-hover: hover) {
			&:hover {
				color: #5982e7;
			}
		}
	}
}
//====================================================================================================
.manage {
	background-color: #f5f8ff;
	// .manage__container
	&__container {
		max-width: 930px;
		padding: 0;
		@media (min-width: $md3+px) {
			display: flex;
		}
	}
	// .manage__content
	&__content {
		display: grid;
		align-content: center;
		min-width: 45%;
		padding: 40px 15px;
	}
	// .manage__label
	&__label {
		margin: 0 0 math.div(27, 12) * 1em 0;
	}
	// .manage__title
	&__title {
		color: #3d4f9f;
		font-weight: 700;
		@include adaptiv-value("font-size", 36, 28, 1);
		line-height: math.div(42, 36) * 100%;
		margin: 0 0 math.div(27, 36) * 1em 0;
		span {
			font-weight: 400;
		}
	}
	// .manage__text
	&__text {
		color: #8d96bd;
		font-size: 15px;
		line-height: math.div(28, 15) * 100%;
		margin: 0 0 math.div(47, 15) * 1em 0;
		font-family: "Roboto";
	}
	// .manage__actions
	&__actions {
		display: flex;
		align-items: center;
		& > * {
			min-width: 130px;
		}
		@media (max-width: $md4+px) {
			flex-wrap: wrap;
		}
	}
	// .manage__button
	&__button {
		display: flex;
		align-items: center;
		flex-direction: row-reverse;
		font-weight: 700;
		color: #fff;
		background-color: #4c85ff;
		transition: background-color 0.3s;
		border-radius: 2px 0 0 2px;
		&::before {
			font-size: 8px;
			padding: 0 0 0 6px;
		}
		@media (any-hover: hover) {
			&:hover {
				background-color: darken(#4c85ff, 5%);
			}
		}
		@media (max-width: $md4+px) {
			flex: 0 0 100%;
			border-radius: 0;
		}
	}
	// .manage__link
	&__link {
		font-weight: 500;
		color: #adb4d2;
		border: 1px solid #d1d1e4;
		transition: color 0.3s, background-color 0.3s;
		border-radius: 0 2px 2px 0;
		@media (any-hover: hover) {
			&:hover {
				color: #fff;
				background-color: #d1d1e4;
			}
		}
		@media (max-width: $md4+px) {
			flex: 0 0 100%;
			border-radius: 0;
		}
	}
	// .manage__image
	&__image {
		img {
			transform: translate(-95px, 85px);
		}
		@media (max-width: $md3+px) {
			display: none;
		}
	}
}
//====================================================================================================
.features {
	// .features__container
	&__container {
		@include adaptiv-value("padding-top", 170, 30, 1);
		@include adaptiv-value("padding-bottom", 170, 30, 1);
		@media (min-width: $md3+px) {
			background-image: url("../img/features/bg-0.svg"), url("../img/features/bg-1.svg"),
				url("../img/features/bg-2.svg");
			background-repeat: no-repeat;
			background-position: 0% 96%, 9% 9%, 100% 25%;
		}
	}
	// .features__heading
	&__heading {
		@include adaptiv-value("margin-bottom", 92, 40, 1);
	}
	// .features__body
	&__body {
		display: grid;
		gap: 67px;
		@include adaptiv-value("margin-bottom", 110, 40, 1);
		@media (min-width: $md4+px) {
			grid-template-columns: repeat(4, 1fr);
			@media (max-width: $md3+px) {
				grid-template-columns: repeat(2, 1fr);
			}
		}
		@media (max-width: $md3+px) {
			@include adaptiv-value("gap", 67, 37, 1);
		}
		@media (min-width: 760px) {
			max-width: 760px;
			margin-left: auto;
			margin-right: auto;
		}
	}
	// .features__item
	&__item {
		text-align: center;
	}
	// .features__actions
	&__actions {
		display: flex;
		align-items: center;
		justify-content: center;
		span {
			display: flex;
			align-items: center;
			text-transform: uppercase;
			font-weight: 500;
			font-size: 11px;
			margin: 0 15px;
			line-height: math.div(19, 11) * 100%;
			@media (min-width: $md4+px) {
				margin: 0;
				&::before,
				&::after {
					content: "";
					display: inline-block;
					width: 15px;
					height: 1px;
					margin: 0 16px;
					background-color: #dae4fe;
				}
			}
		}
	}
}
.item-features {
	position: relative;
	// .item-features__icon
	@media (min-width: $md3+px) {
		&:not(:last-child) {
			&::before {
				content: "";
				position: absolute;
				top: 50%;
				left: calc(100% + 24px);
				width: 28px;
				height: 1px;
				transform: translate(0px, -50%);
				background-color: #dae4fe;
			}
		}
	}
	& > *:last-child {
		margin-bottom: 0;
	}
	&__icon {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		width: 70px;
		height: 70px;
		@include adaptiv-value("margin-bottom", 32, 20, 1);
		border-radius: 50%;
		background-color: #f1f5ff;
	}
	// .item-features__title
	&__title {
		font-weight: 700;
		color: #4074f8;
		font-size: 14px;
		line-height: math.div(25, 14) * 100%;
		margin: 0 0 math.div(15, 14) * 1em 0;
	}
	// .item-features__text
	&__text {
		font-weight: 600;
		color: #adb3cb;
		font-size: 11px;
		line-height: math.div(20, 11) * 100%;
		margin: 0 0 math.div(20, 11) * 1em 0;
	}
}
//====================================================================================================
.stats {
	// .stats__container
	&__container {
		max-width: 100%;
		margin: 0;
		padding: 0;
		@media (min-width: $md4+px) {
			display: flex;
		}
	}
	// .stats__item
	&__item {
		@include adaptiv-value("padding-top", 64, 30, 1);
		@include adaptiv-value("padding-bottom", 64, 30, 1);
		&:first-child {
			color: #fff;
			text-align: right;
			padding-left: 15px;
			@include adaptiv-value("padding-right", 90, 15, 1);
			background: linear-gradient(229.32deg, #6888ff 12.77%, #5e80ff 73.11%);
			.stats__text {
				margin-left: auto;
			}
		}
		&:last-child {
			color: #5e80ff;
			padding-right: 15px;
			@include adaptiv-value("padding-left", 90, 15, 1);
			background: linear-gradient(101.48deg, #e9efff 41.56%, #e0e9ff 81.53%);
		}
		& > *:last-child {
			margin-bottom: 0;
		}
		@media (min-width: $md4+px) {
			flex: 0 1 50%;
		}
	}
	// .stats__icon
	&__icon {
		margin: 0 0 15px 0;
	}
	// .stats__title
	&__title {
		@include adaptiv-value("font-size", 48, 32, 1);
		line-height: math.div(83, 48) * 100%;
		margin: 0 0 math.div(20, 48) * 1em 0;
		letter-spacing: math.div(1.5, 48) * 1em;
	}
	// .stats__text
	&__text {
		max-width: 260px;
		font-weight: 500;
		font-size: 18px;
		line-height: math.div(24, 18) * 100%;
		margin: 0 0 math.div(20, 18) * 1em 0;
	}
}
//====================================================================================================
.blog {
	@include adaptiv-value("padding-top", 104, 30, 1);
	@include adaptiv-value("padding-bottom", 104, 30, 1);
	background-color: #f5f8ff;
	&__container {
		padding: 0;
	}
	// .blog__heading
	&__heading {
		@include adaptiv-value("margin-bottom", 92, 40, 1);
	}
}
.slider-blog {
	position: relative;
	// .slider-blog__body
	&__body {
		@include adaptiv-value("margin-bottom", 100, 20, 1);
		@media (min-width: $md1+px) {
			padding: 0 124px;
		}
	}
	// .slider-blog__slide
	&__slide {
		display: grid;
		@include adaptiv-value("gap", 65, 30, 1);
		@include adaptiv-value("padding-top", 65, 15, 1);
		@include adaptiv-value("padding-bottom", 65, 15, 1);
		@include adaptiv-value("padding-left", 35, 15, 1);
		@include adaptiv-value("padding-right", 35, 15, 1);
		border: 1px solid #d8e3fe;
		box-shadow: 0px 15px 50px 0px #eff4ff;
		background-color: #fff;
		@media (min-width: $md2+px) {
			grid-template-columns: 1fr 1fr;
		}
	}
	// .slider-blog__images
	&__images {
		display: grid;
		gap: 15px;
		@media (min-width: $md4+px) {
			grid-template-columns: repeat(3, 1fr);
		}
		grid-auto-rows: 124px;
		@media (max-width: $md2+px) {
			grid-auto-rows: 160px;
			@include adaptiv-value("grid-auto-rows", 160, 80, 1);
		}
	}
	// .slider-blog__image
	&__image {
		position: relative;
		&::before {
			z-index: 5;
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			transition: opacity 0.3s;
		}
		&:nth-child(1) {
			grid-column: span 2;
			grid-row: span 2;
			.slider-blog__search {
				width: 65px;
				height: 65px;
				&::before {
					font-size: 18px;
				}
			}
			&::before {
				background: linear-gradient(
					13.46deg,
					rgba(255, 199, 53, 0.44) 1.89%,
					rgba(255, 227, 154, 0.93) 1.9%,
					rgba(255, 159, 90, 0) 68.24%
				);
			}
		}
		&:nth-child(2) {
			&::before {
				background: linear-gradient(27.48deg, rgba(255, 53, 53, 0.48) 14.02%, rgba(255, 179, 90, 0) 68%);
			}
		}
		&:nth-child(3) {
			&::before {
				background: linear-gradient(13.49deg, rgba(53, 170, 255, 0.68) 11.59%, rgba(90, 136, 255, 0) 96.88%);
			}
		}
		@media (min-width: $md4+px) {
			overflow: hidden;
			border-radius: 5px;
		}
		@media (any-hover: hover) {
			&:hover {
				&::before {
					opacity: 0;
				}
				.slider-blog__search {
					opacity: 1;
					visibility: visible;
				}
			}
		}
		@media (any-hover: none) {
			.slider-blog__search {
				opacity: 1;
				visibility: visible;
			}
		}
	}
	// .slider-blog__search
	&__search {
		opacity: 0;
		visibility: hidden;
		z-index: 10;
		position: absolute;
		top: 50%;
		left: 50%;
		width: 45px;
		height: 45px;
		transform: translate(-50%, -50%);
		border-radius: 50%;
		background-color: #fff;
		transition: opacity 0.3s, visibility 0.3s;
		&::before {
			font-size: 14px;
			color: #a7aac6;
		}
	}
	// .slider-blog__title
	&__title {
		color: #3d4f9f;
		@include adaptiv-value("font-size", 36, 28, 1);
		line-height: math.div(45, 36) * 100%;
		margin: 0 0 math.div(32, 36) * 1em 0;
	}
	// .slider-blog__text
	&__text {
		color: #8d96bd;
		font-size: 14px;
		line-height: math.div(26, 14) * 100%;
		@include adaptiv-value("margin-bottom", 40, 20, 1);
	}
	// .slider-blog__actions
	&__actions {
		display: flex;
		align-items: center;
		@media (max-width: $md4+px) {
			flex-wrap: wrap;
			& > * {
				flex: 0 0 100%;
			}
		}
	}
	// .slider-blog__link
	&__link {
		font-weight: 600;
		color: #a6b6da;
		transition: color 0.3s, background-color 0.3s;
		@media (min-width: $md4+px) {
			margin: 0 0 0 15px;
		}
		@media (any-hover: hover) {
			&:hover {
				color: #fff;
				background-color: #a6b6da;
			}
		}
	}
	// .slider-blog__arrows
	&__arrows {
		display: flex;
		align-items: center;
		justify-content: space-between;
		pointer-events: none;
		position: absolute;
		top: 50%;
		width: calc(100% - 50px);
		left: 25px;
		transform: translate(0, -50%);
		@media (max-width: $md1+px) {
			width: calc(100% - 25px);
			left: 12.5px;
		}
		@media (max-width: $md3+px) {
			display: none;
		}
	}
}
//====================================================================================================
.testimonials {
	@include adaptiv-value("padding-top", 60, 30, 1);
	@include adaptiv-value("padding-bottom", 60, 30, 1);
	// .testimonials__container
	&__container {
		max-width: 888px;
		@media (min-width: $md3+px) {
			display: flex;
			align-items: center;
		}
	}
	// .testimonials__content
	&__content {
		z-index: 10;
		position: relative;
		flex: 0 0 math.div(465, 888) * 100%;
		@include adaptiv-value("padding-right", 76, 0, 1);
		& > *:last-child {
			margin-bottom: 0;
		}
		@media (max-width: $md3+px) {
			margin: 0 0 -25px 0;
		}
	}
	// .testimonials__label
	&__label {
		@include adaptiv-value("margin-bottom", 30, 20, 1);
		@media (max-width: $md3+px) {
			text-align: center;
		}
	}
	// .testimonials__title
	&__title {
		color: #3d4f9f;
		font-weight: 500;
		@include adaptiv-value("font-size", 36, 28, 1);
		line-height: math.div(36, 45) * 100%;
		margin: 0 0 math.div(20, 25) * 1em 0;
		@media (max-width: $md3+px) {
			text-align: center;
		}
	}
	// .testimonials__text
	&__text {
		color: #a4abc8;
		font-weight: 500;
		font-size: 12px;
		line-height: math.div(23, 12) * 100%;
		letter-spacing: math.div(1.2, 12) * 1em;
		margin: 0 0 math.div(20, 12) * 1em 0;
	}
}
.slider-testimonials {
	flex: 1 1 auto;
	min-width: 0;
	// .slider-testimonials__body
	&__body {
		position: relative;
		overflow: visible;
		padding: 50px 0;
		&::before {
			z-index: 5;
			content: "";
			position: absolute;
			top: 0;
			left: -25px;
			width: 100vw;
			height: 100%;
			transform: translateX(-100%);
			background-color: #fff;
		}
		@media (min-width: $md3+px) {
			margin: 50px 0;
		}
	}
	// .slider-testimonials__slide
	&__slide {
		position: relative;
		opacity: 0.45;
		width: 423px;
		@include adaptiv-value("padding-top", 42.5, 15, 1);
		padding-bottom: 42.5px;
		@include adaptiv-value("padding-right", 70, 15, 1);
		@include adaptiv-value("padding-left", 70, 15, 1);
		border: 1px solid #d8e3fe;
		transition: opacity 0.3s;
		box-shadow: 0px 5px 25px 0px #f3f5fa;
		&.swiper-slide-active {
			opacity: 1;
		}
	}
	// .slider-testimonials__text
	&__text {
		color: #676f95;
		font-size: 14px;
		line-height: math.div(23, 14) * 100%;
		letter-spacing: math.div(1.4, 14) * 1em;
		font-family: "Roboto";
	}
	// .slider-testimonials__image
	&__image {
		overflow: hidden;
		position: absolute;
		top: 100%;
		left: 50%;
		width: 62px;
		height: 62px;
		transform: translate(-50%, -50%);
		border-radius: 50%;
	}
	// .slider-testimonials__bullets
	&__bullets {
		z-index: 5;
		position: relative;
	}
}
//====================================================================================================
.questions {
	@include adaptiv-value("padding-top", 176, 40, 1);
	@include adaptiv-value("padding-bottom", 176, 40, 1);
	// .questions__container
	&__container {
		@media (min-width: 744px) {
			max-width: 744px;
		}
	}
	// .questions__heading
	&__heading {
		@include adaptiv-value("margin-bottom", 70, 30, 1);
	}
	// .questions__body
	&__body {
		@media (max-width: $md4+px) {
			margin: 0 -15px;
		}
	}
}
.item-questions {
	padding: 30px 20px;
	border-bottom: 1px solid #d8e3fe;
	@media (max-width: $md3+px) {
		padding: 15px;
	}
	// .item-questions__title
	&__title {
		cursor: pointer;
		display: flex;
		align-items: center;
		font-weight: 500;
		font-size: 15px;
		line-height: 130%;
		color: #8e96b7;
		transition: color 0.3s;
		&::before {
			margin: 0 24px 0 0;
			font-size: 7px;
			transition: transform 0.3s;
		}
		&._active {
			color: #495274;
			&::before {
				transform: rotate(180deg);
			}
		}
	}
	// .item-questions__content
	&__content {
		padding-top: 25px;
		padding-left: 15px;
		@media (min-width: $md3+px) {
			@include adaptiv-value("padding-left", 70, 0, 1);
		}
	}
	// .item-questions__text
	&__text {
		font-size: 14px;
		line-height: 190%;
		font-family: "Roboto";
		color: #8d96bd;
		padding-bottom: 20px;
		@media (min-width: $md3+px) {
			display: inline-block;
			max-width: 390px;
			padding-bottom: 0;
			@include adaptiv-value("padding-right", 30, 0, 1);
		}
	}
	// .item-questions__button
	&__button {
		font-weight: 500;
		padding: 0 30px;
		color: #7382a3;
		background-color: #e8ecf4;
		transition: color 0.3s, background-color 0.3s;
		@media (min-width: $md3+px) {
			vertical-align: top;
		}
		@media (any-hover: hover) {
			&:hover {
				color: #e8ecf4;
				background-color: #7382a3;
			}
		}
	}
}
//====================================================================================================
.get-started {
	color: #fff;
	background: linear-gradient(229.32deg, #6888ff 12.77%, #5e80ff 73.11%);
	// .get-started__container
	&__container {
		@include adaptiv-value("padding-top", 90, 30, 1);
		@include adaptiv-value("padding-bottom", 90, 30, 1);
		max-width: 1326px;
		text-align: center;
		& > *:last-child {
			margin-bottom: 0;
		}
		@media (min-width: $md3+px) {
			background-image: url("../img/get-started/bg-0.svg"), url("../img/get-started/bg-1.svg"),
				url("../img/get-started/bg-2.svg");
			background-repeat: no-repeat;
			background-position: 0% 22%, 5% 85%, 100% 77%;
		}
	}
	// .get-started__label
	&__label {
		color: inherit;
		margin: 0 0 math.div(16, 10) * 1em 0;
	}
	// .get-started__title
	&__title {
		color: inherit;
		font-weight: 300;
		@include adaptiv-value("font-size", 48, 32, 1);
		line-height: math.div(60, 48) * 100%;
		margin: 0 0 math.div(28, 48) * 1em 0;
		span {
			font-weight: 700;
		}
	}
	// .get-started__text
	&__text {
		max-width: 680px;
		font-size: 15px;
		line-height: 190%;
		font-family: "Roboto";
		margin-left: auto;
		margin-right: auto;
		@include adaptiv-value("margin-bottom", 55, 30, 1);
	}
	// .get-started__actions
	&__actions {
		display: flex;
		justify-content: center;
		align-items: center;
		@media (max-width: $md4+px) {
			flex-wrap: wrap;
		}
	}
	// .get-started__button
	&__button {
		font-weight: 700;
		&:first-child {
			min-width: 130px;
			color: #565f82;
			box-shadow: 0px 5px 15px 0px #6480e8;
			background-color: #fff;
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
			transition: color 0.3s, background-color 0.3s;
			@media (any-hover: hover) {
				&:hover {
					color: #fff;
					background-color: #565f82;
				}
			}
		}
		&:last-child {
			border: 1px solid #c7d3ff;
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
			min-width: 155px;
			color: #c7d3ff;
			transition: color 0.3s, background-color 0.3s;
			@media (any-hover: hover) {
				&:hover {
					color: #6888ff;
					background-color: #c7d3ff;
				}
			}
			@media (min-width: $md4+px) {
				border-left: 0;
			}
		}
		@media (max-width: $md4+px) {
			flex: 0 0 100%;
			border-radius: 0;
		}
	}
}
//====================================================================================================
.newsletter {
	@include adaptiv-value("padding-top", 118, 30, 1);
	@include adaptiv-value("padding-bottom", 118, 30, 1);
	// .newsletter__container
	&__container {
		max-width: 900px;
		display: grid;
		gap: 30px;
		align-items: flex-start;
		@media (min-width: 820px) {
			grid-template-columns: 330px 1fr;
			@include adaptiv-value("gap", 80, 0, 1);
		}
	}
	// .newsletter__content
	&__content {
		& > *:last-child {
			margin-bottom: 0;
		}
	}
	// .newsletter__title
	&__title {
		color: #3d4f9f;
		font-weight: 700;
		font-size: 18px;
		line-height: math.div(22, 18) * 100%;
		margin: 0 0 math.div(20, 18) * 1em 0;
	}
	// .newsletter__text
	&__text {
		font-size: 14px;
		line-height: math.div(26, 14) * 100%;
		margin: 0 0 math.div(20, 14) * 1em 0;
	}
}
.form {
	// .form__item
	&__item {
		display: grid;
		min-height: 60px;
		gap: 14px;
		@media (min-width: $md4+px) {
			min-height: 60px;
			grid-template-columns: 1fr 184px;
		}
	}
	// .form__input
	&__input {
		color: #7a85ad;
		font-weight: 700;
		padding: 0 20px;
		background-color: #efeff7;
		border-radius: 5px;
		&:focus {
			border: 2px solid #7a85ad;
		}
		@media (max-width: $md4+px) {
			min-height: 50px;
			border-radius: 0;
		}
	}
	// .form__button
	&__button {
		color: #fff;
		font-weight: 700;
		background-color: #4d6ce1;
		box-shadow: 0px 5px 15px 0px #7468ff33;
		border-radius: 5px;
		@media (max-width: $md4+px) {
			min-height: 50px;
			border-radius: 0;
		}
	}
}
//</ОСНОВНОЙ БЛОК>====================================================================================================
